version: '3.1'
services:

  db:
    image: mysql:5.7.22
    container_name: db
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ecommerce
      MYSQL_USER: ecommerce
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - ./docker-compose/mysql/my.cnf:/etc/mysql/my.cnf
    healthcheck:
      test: "exit 0"
      timeout: 20s
      retries: 10

  app:
    build:
      dockerfile: ./docker-compose/Dockerfile
    image: laravel/ecommerce
    container_name: app
    restart: unless-stopped
    working_dir: /app
    volumes:
      - ./:/app
      - ./docker-compose/php/app.ini:/usr/local/etc/php/conf.d/app.ini
    links:
      - "db"
    healthcheck:
      test: "exit 0"
      timeout: 20s
      retries: 10
    depends_on:
      db:
        condition: service_healthy

  webserver:
    image: nginx:alpine
    container_name: webserver
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/app
      - ./docker-compose/nginx/conf.d/:/etc/nginx/conf.d/
    links:
      - "app"
    depends_on:
      app:
        condition: service_healthy